/* CONTENT SECTION STYLING */
.designWorkSection {
    margin: 300px 210px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.caseStudiesSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.caseStudy {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.caseStudy img {
    width: 100%;
    object-fit: cover;
}

.contentSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 210px auto;
    padding: 0px 25%;
    row-gap: 80px;
}

@media only screen and (max-width: 1800px) {
    .contentSection {
        padding: 0px 10%;
    }
}

@media only screen and (max-width: 1200px) {
    .designWorkSection {
        margin: 300px 80px;
    }
    
    .caseStudiesSection {
        grid-template-columns: 1fr 1fr;
        gap: 80px;
    }
}

@media only screen and (max-width: 992px) {    
    .designWorkSection {
        margin: 100px 40px 40px 40px;
    }

    .caseStudiesSection {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .caseStudiesSection {
        grid-template-columns: 1fr;
    }

    .caseStudySection {
        flex-direction: column;
    }
}