/* img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 200px;
} */

.timeline {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.events-list {
    border-right: 1px solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.event-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.event-data {
    /* width: 40vw; */
}

.event-line-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.event-line {
    background-color: black;
    height: 1px;
    /* width: 40vw; */
}

.event-spot {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 10px;
    float: inline-end;

    margin-right: -5px;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}