/* CONTENT SECTION STYLING */
.contentSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 210px auto;
    padding: 0px 25%;
    row-gap: 80px;
}

.caseStudySection {
    display: flex;
    gap: 80px;
}

.caseStudySection img {
    width: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 1800px) {
    .contentSection {
        padding: 0px 10%;
    }
}

@media only screen and (max-width: 992px) {    
    .caseStudySection {
        flex-direction: column;
        gap: 40px;
    }
    .caseStudySection img {
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    .caseStudySection {
        flex-direction: column;
    }
}