@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, rgb(228, 166, 183) 0%, rgba(148,187,233,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
