@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/* GLOBAL STYLING */
:root {
  --darkGrey: #131212;
  --offWhite: #FDFCFC;
  --lightPink: #FFD5D0;
  --darkGreen: #0F1D01;
  --lightGreen: #32724D;
  --transparentOffWhite: #FDFCFC00;
  --accentYellow: #ECFF00;
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--offWhite);
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: var(--offWhite);
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 128px;
  text-transform: capitalize;
  line-height: 1em;
  margin: 0px;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 96px;
  text-transform: capitalize;
  margin: 0px;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  text-transform: capitalize;
  margin: 0px;
}

h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  text-transform: capitalize;
  margin: 0px;
}

h5 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  text-transform: capitalize;
  margin: 0px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-decoration: underline;
  color: var(--darkGreen);
}

.divider {
  height: 2px;
  width: 100%;
  background-color: var(--darkGrey);
  margin-bottom: 16px;
}

/* CONTENT SECTION STYLING - universal styling for page content, keep it centered */
.contentSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 140px auto;
  padding: 0px 15%;
  row-gap: 80px;
}

.nav-container {
  position: absolute;
  display: flex;
  gap: 4px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.nav-icons {
  display: flex;
  gap: 16px;
}

.homepage-text {
  color: var(--accentYellow);
  text-decoration: none;
}

.homepage-link {
  text-decoration: none !important;
  display: inline-block;
  position: relative;
  color: var(--accentYellow) !important;
}

.homepage-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  text-decoration: none !important;
  color: var(--accentYellow) !important;
  background-color: var(--accentYellow);
}

.homepage-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
  text-decoration: none !important;
  color: var(--accentYellow) !important;
}

.barcode-text {
  font-family: "Libre Barcode 39 Text", system-ui;
  font-size: 2rem;
}

.hero-text {
  font-family: "Luxurious Script", sans-serif;
  font-size: 10rem;
}

.homepage-nav-buttons {
  display: flex;
  gap: 20px;
}

.hero-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  object-fit: cover;
  align-items: center;
}

.lace-overlay {
  position: absolute;
  width: 100vw;
  /* rotate: 135deg; */
  opacity: 20%;
}

/* RECOMMENDED DEVICE SIZES FROM W3SCHOOLS (https://www.w3schools.com/css/css_rwd_mediaqueries.asp) */
/* small desktop screens */
@media only screen and (max-width: 1200px) {
  h1 { font-size: 96px; }
  h2 { font-size: 48px; }
  h3 { font-size: 36px; }
  h4 { font-size: 32px; }
  h5 { font-size: 28px; }

  .contentSection {
    padding: 0px 10%;
  }
}

/* tablet */
@media only screen and (max-width: 992px) {    
  h1 { font-size: 48px; }
  h2 { font-size: 36px; }
  h3 { font-size: 32px; }
  h4 { font-size: 28px; }
  h5 { font-size: 26px; }
}

@media only screen and (max-width: 768px) {
  a { font-size: 16px; }
  p { font-size: 16px; }
}