.pageLink {
    text-decoration: none !important;
    display: inline-block;
    position: relative;
}

.pageLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    text-decoration: none !important;
}

.pageLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
    text-decoration: none !important;
}

.darkGrey {
    color: var(--darkGrey) !important;
}
.darkGrey::after {
    background-color: var(--darkGrey);
}

.offWhite {
    color: var(--offWhite) !important;
}
.offWhite::after {
    background-color: var(--offWhite);
}